.newChatContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 100%;
  height: 100%;
  width: 100%;
  padding: var(--padding);
  background-color: var(--background-dark);
  z-index: 100;
  transition: 0.5s;
  left: -100%;
  border-right: 1px solid var(--background-light);
  display: flex;
  flex-direction: column;
}
.newChatContainer .newChatRoomUpperButtons {
  padding-bottom: var(--padding-large);
  display: flex;
  justify-content: space-between;
}
.newChatContainer .newChatRoomUpperButtons img {
  filter: var(--svg-filter);
  padding: var(--padding-small);
  cursor: pointer;
  opacity: 0.7;
  transition: 0.1s ease;
}
.newChatContainer .newChatRoomUpperButtons img:hover {
  opacity: 0.9;
}
.newChatContainer .newChatRoomUpperButtons .backButton img {
  transform: rotate(-90deg);
}
.newChatContainer input {
  width: 100%;
  padding: var(--padding);
  border: none;
  border-radius: 10px;
  background-color: var(--background-light);
  color: var(--text-color);
  font-size: var(--font-medium);
  outline: none;
}
.newChatContainer .verticalDivider {
  display: block;
  height: 1px;
  width: 100%;
  opacity: 0.9;
  background-color: var(--background-light);
  margin: var(--padding) 0;
}
.newChatContainer .chatroomDropdownMenus {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer {
  display: flex;
  flex-direction: column;
  height: 28px;
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer .chatroomDropdownMenuControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer .chatroomDropdownMenuControls .dropdownChevron img {
  filter: var(--svg-filter);
  transform: rotate(180deg);
  transition: 0.1s ease;
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer .chatroomDropdownMenuContents {
  overflow: hidden;
  transition: 0.1s ease;
  -webkit-animation: dropdownMenuHeightAnimationRev 0.1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  padding-left: 10px;
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer .chatroomDropdownMenuContents .menuContent p {
  padding-bottom: 10px;
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer .chatroomDropdownMenuContents .publicOrPrivateSlider {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  background-color: var(--background-light);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer .chatroomDropdownMenuContents .publicOrPrivateSlider p {
  color: var(--text-color);
  font-size: var(--font-medium);
  padding: 0 5px;
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer .chatroomDropdownMenuContents .publicOrPrivateSlider .switch {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  cursor: pointer;
  transition: 0.1s ease;
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer .chatroomDropdownMenuContents .publicOrPrivateSlider .switch .slider {
  opacity: 0.7;
  border-radius: 10px;
  width: 55%;
  height: 100%;
  transition: 0.1s ease;
  left: 0;
  border: 1px solid white;
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer .chatroomDropdownMenuContents .publicOrPrivateSlider .switch.switchActive {
  left: 45%;
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer .chatroomDropdownMenuContents .publicOrPrivateSlider .switch.switchActive .slider {
  opacity: 0.7;
  border-radius: 10px;
  width: 55%;
  height: 100%;
  transition: 0.1s ease;
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer.dropdownActive {
  height: 100%;
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer.dropdownActive .chatroomDropdownMenuControls .dropdownChevron img {
  transform: rotate(0deg);
}
.newChatContainer .chatroomDropdownMenus .chatroomDropdownMenuContainer.dropdownActive .chatroomDropdownMenuContents {
  padding-top: 10px;
  height: 100%;
  -webkit-animation: dropdownMenuHeightAnimation 0.1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
}
.newChatContainer .findRoomsMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}
.newChatContainer .findRoomsMenu .divider {
  display: block;
  height: 1px;
  width: 100%;
  opacity: 0.9;
  background-color: var(--background-light);
  margin: var(--padding) 0;
}
.newChatContainer .findRoomsMenu .roomMenuUpper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.newChatContainer .findRoomsMenu .roomMenuUpper .optionToggle {
  padding-top: 5px;
}
.newChatContainer .findRoomsMenu .roomMenuUpper .optionToggle img {
  filter: var(--svg-filter);
  cursor: pointer;
  opacity: 0.7;
  transition: 0.1s ease;
}
.newChatContainer .findRoomsMenu .roomMenuUpper:hover .optionToggle img {
  opacity: 1;
}
.newChatContainer .findRoomsMenu .publicRoomMenu {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.newChatContainer .findRoomsMenu .publicRoomMenu .publicFoundRooms {
  flex: 1;
  overflow-y: auto;
  padding: var(--padding) 0;
  margin: var(--padding) 0;
}
.newChatContainer .findRoomsMenu .privateRoomMenu .privateInputs {
  padding: var(--padding-large) 0;
  display: flex;
  flex-direction: column;
}
.newChatContainer .findRoomsMenu .privateRoomMenu .privateInputs button {
  width: -moz-max-content;
  width: max-content;
  align-self: flex-end;
  padding: var(--padding);
  border: none;
  border-radius: 10px;
  background-color: var(--background-light);
  color: var(--text-color);
  font-size: var(--font-medium);
  cursor: pointer;
  outline: none;
  margin-top: var(--padding);
  transition: 0.1s ease;
}
.newChatContainer .findRoomsMenu .privateRoomMenu .privateInputs button:hover {
  background-color: var(--background-light-hover);
}

.newChatContainerActive {
  left: 0;
}

@keyframes dropdownMenuHeightAnimation {
  0% {
    height: 28px;
  }
  100% {
    height: 100%;
  }
}
@keyframes dropdownMenuHeightAnimationRev {
  0% {
    height: 100%;
  }
  100% {
    height: 28px;
  }
}/*# sourceMappingURL=NewChatRoom.css.map */