.sidebar {
  min-width: 250px;
  width: 20%;
  height: 100%;
  background-color: var(--background-dark);
  z-index: 100;
  transition: 0.5s;
  overflow-y: auto;
  border-right: 1px solid var(--border-color);
}
.sidebar .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-small) var(--padding-large);
  border-bottom: 1px solid var(--border-color);
  min-height: 60px;
}
.sidebar .sidebar-header .sidebar-avatar {
  display: flex;
  align-items: center;
}
.sidebar .sidebar-header .sidebar-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar .sidebar-header .sidebar-header-details {
  margin-left: var(--margin);
}
.sidebar .sidebar-header .sidebar-header-details .sidebar-header-name {
  color: var(--text-color);
  font-size: var(--font-large);
}
.sidebar .sidebar-header .sidebar-header-details .sidebar-header-status {
  color: var(--text-color-muted);
  font-size: var(--font-small);
}
.sidebar .sidebar-header .sidebar-header-buttons {
  display: flex;
}
.sidebar .sidebar-header .sidebar-header-buttons img {
  filter: var(--svg-filter);
  padding: var(--padding-small);
  cursor: pointer;
  opacity: 0.7;
  transition: 0.1s ease;
}
.sidebar .sidebar-header .sidebar-header-buttons img:hover {
  opacity: 0.9;
}
.sidebar .sidebar-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding) var(--padding-large);
}
.sidebar .sidebar-upper .sidebar-search-bar {
  display: flex;
  align-items: center;
  background-color: var(--background-light);
  padding: var(--padding-small) var(--padding);
  border-radius: 10px;
  cursor: text;
  border: 1px solid var(--background-light);
  transition: 0.1s ease;
  width: 100%;
}
.sidebar .sidebar-upper .sidebar-search-bar:hover {
  border: 1px solid var(--border-color-light);
}
.sidebar .sidebar-upper .sidebar-search-bar input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  width: 100%;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-medium);
}
.sidebar .sidebar-upper .sidebar-search-bar img {
  filter: var(--svg-filter);
  opacity: 0.3;
  padding: var(--padding-small);
  padding-right: var(--padding);
}
.sidebar .sidebar-body {
  padding-top: var(--padding-small);
}
.sidebar .sidebar-body .sidebar-chats {
  display: flex;
  flex-direction: column;
}
.sidebar .sidebar-body .sidebar-chats .sidebar-chat {
  display: flex;
  align-items: center;
  padding: var(--padding) var(--padding-large);
  cursor: pointer;
}
.sidebar .sidebar-body .sidebar-chats .sidebar-chat:hover {
  background-color: var(--background-light-low-opacity);
}
.sidebar .sidebar-body .sidebar-chats .sidebar-chat .chat-avatar {
  padding-right: var(--padding);
}
.sidebar .sidebar-body .sidebar-chats .sidebar-chat .chat-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar .sidebar-body .sidebar-chats .sidebar-chat .chat-details {
  margin-left: var(--margin);
}
.sidebar .sidebar-body .sidebar-chats .sidebar-chat .chat-details .chat-name {
  color: var(--text-color);
  font-size: var(--font-large);
}
.sidebar .sidebar-body .sidebar-chats .sidebar-chat .chat-details .chat-message {
  color: var(--text-color-muted);
  font-size: var(--font-small);
}/*# sourceMappingURL=Sidebar.css.map */