.sidebar{
    min-width: 250px;
    width: 20%;
    height: 100%;
    background-color: var(--background-dark);
    z-index: 100;
    transition: 0.5s;
    overflow-y: auto;
    border-right: 1px solid var(--border-color);
    position: relative;
    .sidebar-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-small) var(--padding-large);
        border-bottom: 1px solid var(--border-color);
        min-height: 60px;
        .sidebar-avatar{
            display: flex;
            align-items: center;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        .sidebar-header-details{
            margin-left: var(--margin);
            .sidebar-header-name{
                color: var(--text-color);
                font-size: var(--font-large);
            }
            .sidebar-header-status{
                color: var(--text-color-muted);
                font-size: var(--font-small);
            }
        }
        .sidebar-header-buttons{
            display: flex;
            img{
                filter: var(--svg-filter);
                padding: var(--padding-small);
                cursor: pointer;
                opacity: 0.7;
                transition: 0.1s ease;
                &:hover{
                    opacity: .9;
                }
            }
        }
    }
    .sidebar-upper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding) var(--padding-large);
        .sidebar-search-bar{
            display: flex;
            align-items: center;
            background-color: var(--background-light);
            padding: var(--padding-small) var(--padding);
            border-radius: 10px;
            cursor: text;
            border: 1px solid var(--background-light);
            transition: 0.1s ease;
            width: 100%;
            &:hover{
                border: 1px solid var(--border-color-light);
            }
            input{
                background-color: transparent;
                border: none;
                outline: none;
                color: var(--text-color);
                width: 100%;
                padding: 0;
                font-family: var(--font-family);
                font-size: var(--font-medium);
            }
            img{
                filter: var(--svg-filter);
                opacity: 0.3;
                padding: var(--padding-small);
                padding-right: var(--padding);
            }
        
        }
    }
    .sidebar-body{
        padding-top: var(--padding-small);
        .sidebar-chats{
            display: flex;
            flex-direction: column;
            .sidebar-chat{
                display: flex;
                align-items: center;
                padding: var(--padding) var(--padding-large);
                cursor: pointer;
                &:hover{
                    background-color: var(--background-light-low-opacity);
                }
                .chat-avatar{
                    padding-right: var(--padding);
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
                .chat-details{
                    margin-left: var(--margin);
                    .chat-name{
                        color: var(--text-color);
                        font-size: var(--font-large);
                    }
                    .chat-message{
                        color: var(--text-color-muted);
                        font-size: var(--font-small);
                    }
                }
            }
        }
    }
}