.inputbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: transparent;
    input{
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        outline: none;
        margin-right: 20px;
        background-color: var(--background-light);
        color: var(--text-color);
        position: relative;
        font-family: var(--font-family);
        &:before{
            content: '';
            position: absolute;
            width: 0px;
            height: 0px;
            border-bottom: 10px solid transparent;
            border-right: 10px solid var(--background-light);
            left: -10px;
            top: 0px;
        }
    }
    .inputs{
        display: flex;
        button{
            background-color: var(--button-background);
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .replybox{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .replybox-message{
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: var(--background-light);
            border-radius: 5px;
            width: 100%;
            .replybox-user{
                font-size: 16px;
                font-weight: 600;
                color: #333;
            }
            .replybox-message-content{
                font-size: 14px;
                color: #666;
            }
        }
        button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin: 10px;
            margin-left: 20px;
            &:hover{
                color: var(--accent-color);
            }
        }
    }
}