.inputbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: transparent;
    input{
        
    }
    .inputs{
        display: flex;
        .text-input-container{
            width: 100%;
            border-radius: 5px;
            margin-right: 20px;
            background-color: var(--background-light);
            color: var(--text-color);
            position: relative;
            font-family: var(--font-family);
            display: flex;
            align-items: center;
            padding: 0 10px;
            input{
                flex-grow: 1;
                display: flex;
                outline: none;
                border: none;
                background-color: transparent;
                height: 100%;
                min-height: 50px;
                color: var(--text-color);
                font-size: 100%;
            }
            .text-input-file-share-menu-button{
                position: relative;
                img{
                    filter: var(--svg-filter);
                    cursor: pointer;
                }
                .text-input-file-share-menu{
                    position: absolute;
                    background-color: var(--background-light);
                    border-radius: 5px;
                    padding: 10px;
                    z-index: 100;
                    bottom: 170%;
                    right: -10px;
                    box-shadow: var(--box-shadow);
                    min-width: 150px;
                    .text-input-file-share-menu-item{
                        display: flex;
                        align-items: center;
                        padding: 5px;
                        cursor: pointer;
                        white-space: nowrap;
                        img{
                            filter: var(--svg-filter);
                            margin-right: 10px;
                        }
                        &:hover{
                            background-color: var(--background-light-hover);
                        }
                    }
                    &.text-input-file-share-menu-closed{
                        display: none;
                    }
                }
            }
        }
        button{
            background-color: var(--button-background);
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .replybox{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .replybox-message{
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: var(--background-light);
            border-radius: 5px;
            width: 100%;
            .replybox-user{
                font-size: 16px;
                font-weight: 600;
                color: #333;
            }
            .replybox-message-content{
                font-size: 14px;
                color: #666;
            }
        }
        button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin: 10px;
            margin-left: 20px;
            &:hover{
                color: var(--accent-color);
            }
        }
    }

    .file-input-preview-container{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        z-index: 100;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #00000050;
        .file-input-preview{
            display: flex;
            background-color: var(--background-light);
            min-width: 300px;
            border-radius: var(--border-radius);
            padding: var(--padding);
            display: flex;
            flex-direction: column;
            .file-input-preview-upper-options{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .file-input-preview-cancel-button{
                    width: max-content;
                    padding: 5px;
                    transition:.2s ease;
                    &:hover{
                        background-color: #6666663a;
                        border-radius: 50%;
                    }
                    img{
                        padding-top: 2px;
                        filter: var(--svg-filter);
                    }
                    cursor: pointer;
                }
                p{
                    padding-left: 25px;
                    width: 100%;
                    font-size: 120%;
                    font-weight: 600;
                }
            }
            .file-input-preview-highlighted-file-container{
                margin: var(--padding-large) 0;
                display: flex;
                justify-content: center;
                max-width: 100%;
                img{
                    max-width: 200px;
                    max-height: 300px;
                    border-radius: var(--border-radius);
                }
            }
            .file-input-preview-message-text{
                display: flex;
                input{
                    background-color: transparent;
                    border: none;
                    color: var(--text-color);
                    font-size: 100%;
                    width: 100%;
                    outline: none;
                }
                button{
                    background-color: var(--button-background);
                    color: white;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-left: 10px;
                    transition: .2s ease;
                    &:hover{
                        background-color: var(--button-background-hover);
                    }
                }
            }
        }
    }
}